* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: #78939b;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --bgcolor: #fff;
    --bgleft-color:#e9ebeb;
    --color: #000;
    --bg-progress: #acbbbc78;
    --bg-progress-after: #71709aa8;
    --text-color: #4f4f4f;
    --sub-heading-color:#292929;
    --main-text-color:#5e6d66;
    --list-heading:#444540;
    --table-title-color:brown;
    --social-color:#4f4f4f;
    --link-color:#4169e1c7;
}
:root .dark {
    --bgcolor: #000;
    --bgleft-color:#454848;
    --color: #fff;
    --bg-progress: #f3fafb78;
    --bg-progress-after: #4747d6a8;
    --text-color: #e6e6e6;
    --sub-heading-color:#cccaca;
    --main-text-color:#c5dad0;
    --list-heading:#cdcec8;
    --table-title-color:rgb(197, 192, 192);
    --social-color:#e7dbdb;
    --link-color:#d1ae85c7;
}

.positon-rel {
    position: relative;
}

.p10 {
    padding: 10px;
}
.p16 {
    padding: 16px;
}
.p20{
    padding: 20px;
}
.p-top10{
    padding-top:10px ;
}
.p-top16{
    padding-top:16px ;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.gap10 {
    gap: 10px;
}

.wrapper {
    max-width: 80vw;
    position: relative;
    color: var(--text-color);
}   
.box-shd{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}

.page-left {
    width: 30%;
    border-radius: 10px 0 0 10px;
    background: var(--bgleft-color);
}

.contacts {
    border-bottom: 1px solid lightgray;
    padding-bottom: 4px;
}
.social {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 8px;
}
.test {
    position: absolute;
    color: var(--bgcolor);
    font-size: 16px;
    left: 28%;
    color: var(--color);
}

.soft-hobby {
    list-style: none;
}
.soft-hobby-a {
    color: var(--bgcolor);
    border-radius: 2px;
    padding: 3px 5px;
    background:var(--social-color);
    position: relative;
}
.soft-hobby-a:hover{
    background-color: #54B689;
}

.progress {
    height: 6px;
    background: var(--bg-progress);
    border-radius: 25px;
    margin: 10px 0;
}

.fillbar {
    position: absolute;
    height: inherit;
    background: var(--bg-progress-after);
    border-radius: inherit;
}

.languages-heading {
    margin: 20px 0 10px;
}

.skill-head-box {
    margin: 10px 0;
}

.contact {
    margin: 10px 0;
}

.my-image {
    width: 100%;
    height: 18vw;
    max-height: 12rem;
    object-fit: cover;
    border-radius: 6px;
}


/* .name {
    font-size: 20px;
    background: unset;
    color: black !important;
} */

.img-box {
    text-align: center;
}
.page-right {
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    padding: 14px 24px;
    background:var(--bgcolor);
}

/* .eduaction {
    padding: 10px;
} */

.objective-heading {
    margin-bottom: 8px;
}
.objective-text {
    color:var(--text-color);
}
.link-icon {
    font-size: 18px;
    left: 6px;
    color:var(--link-color);
}
.link-icon:hover{
    color: royalblue;
}
.link-icon:active{
    color: red;
}
.project-link-icon{
    position:absolute;
}
.project-link{
    position: relative;
}
.main-heading {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 600;
    color:var(--main-text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    align-items: center;
}

.role {
    color: cadetblue;
    font-size: 18px;
}

.academic-table {
    width: 100%;
    outline: auto lightseagreen;
}
.academic-head {
    margin-bottom: 16px;
}

.academic-table ,.academic-table td, .academic-table th, .academic-table table {
    border: 1px solid #78939b;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}
.academic td{
    color: var(--text-color);
}
.academic-table th {
    background: var(--bgleft-color);
    color: var(--color);
}

.training-heading {
    margin-bottom: 8px;
}

/* .training-list {
    margin: 10px 20px;
} */

.training-item {
    margin-bottom: 4px;
}
/* .projects {
    margin: 10px 0;
} */
.list-body {
    margin: 10px 20px;
}
.list-body li {
    margin: 6px 0;
    color: var(--text-color);
}
.list-body li::marker {
    font-size: 20px;
}
.detail-name {
    list-style: none;
    font-style: italic;
    text-align: right;
}

/* need change */
/* .page-right {
    width: calc(69% - 2px);
} */
/* .personel {
    width: 100%;
} */
.project-table-title {
    color: var(--table-title-color);
    display: flex;
    margin: 0 5px 4px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.discription {
    padding-top: 4px;
    
}
.project1 {
    margin: 10px 0 10px 16px;
}
.project-head {
    color:var(--sub-heading-color);
    margin-bottom: 6px;
}



.semicolan-project {
    font-size: 20px;
    color:var(--table-title-color);
}
/* .academic {
    margin: 20px 0;
} */
h3{
    background: var(--list-heading);
    color:var(--bgcolor);
    padding: 5px 16px;
    border-radius: 4px;
    font-size: 17px;
}
/* .soft-skills,.hobbies {
    display: flex;
    flex-direction: column;
    gap: 5px;
} */
.toggle {
    position: absolute;
    opacity: 0;

}

.toggle+label {
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox {
    position: absolute;
    top: 20px;
    right: 17px;
    z-index: 12;
}

.toggle+label::before {
    border-radius: 4em;
    content: '';
    height: 16px;
    width: 16px;
    border: 2px solid gray;
    margin-right: 0.25em;
    transition: .2s ease-in-out;
}

.toggle+label::after {
    border-radius: 1em;
    content: 'D';
    position: absolute;
    height: 10px;
    width: 10px;
    background: rgb(247, 244, 244);
    left: 5px;
    transition: .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    outline: solid;
    outline-color: #d3d3d378;
    color: #282525;
}

.toggle:checked+label::after {
    /* transform: translateX(20px); */
    background-color: rgb(26, 25, 26);
    content: "\2713";
    color: #fff;
    font-size: 8px;
}

.toggle:checked+label::before {
    background-color: rgba(120, 116, 128, 0.746);
}

.toggle:focus+label::before {
    outline: solid;
    outline-color: rgb(44, 42, 38);
}

.toggle:checked .box:before {

    animation: rotate 0s linear infinite;
}
