* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: poppins, Helvetica, sans-serif;
    background-color: var(--bgcolor-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --bgcolor: #fff;
    --bgcolor-body: #f7f7f7;
    --bgleft-color: #e9ebeb;
    --color: #000;
    --bg-progress: #acbbbc78;
    --bg-progress-percent: #5a59a9;
    --text-color: #4f4f4f;
    --sub-heading-color: #292929;
    --main-text-color: #5e6d66;
    --list-heading-bg: #009688;
    --table-title-color: brown;
    --social-color: #4f4f4f;
    --link-color: #4169e1c7;
    --list-heading-color: #fff;
    --table-border-color: #009688;
    --skill-p-color: #888;
    --skill-color: #333;
    --percentage-color: darkcyan;
}

:root .dark {
    --bgcolor: #2B2B2B;
    --bgcolor-body: #1D1D1D;
    --bgleft-color: #454848;
    --color: #fff;
    --bg-progress: #f3fafb78;
    --bg-progress-after: #4747d6;
    --text-color: #d5d5d5;
    --sub-heading-color: #aaa;
    --main-text-color: #c5dad0;
    --list-heading-bg: #373737;
    --list-heading-color: #c5dad0;
    --table-title-color: #fff;
    --social-color: #e7dbdb;
    --link-color: #d1ae85c7;
    --table-border-color: rgb(109, 105, 105);
    --skill-p-color: #e7dbdb;
    --skill-color: #d5d5d5;
    --percentage-color: rgb(170, 179, 179);
}

.positon-rel {
    position: relative;
}

.m20 {
    margin: 20px;
}

.p10 {
    padding: 10px;
}

.p16 {
    padding: 16px;
}

.p20 {
    padding: 20px;
}

.p-top10 {
    padding-top: 10px;
}

.p-top16 {
    padding-top: 16px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.gap10 {
    gap: 10px;
}

.wrapper {
    max-width: 80vw;
    position: relative;
    color: var(--text-color);
    border-radius: 8px;
}

.box-shd {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}

.page-left {
    width: 30%;
    border-radius: 10px 0 0 10px;
    background: var(--bgleft-color);
}

.contacts {
    border-bottom: 1.5px solid rgba(192, 186, 186, 0.694);
    font-size: 14px;
    border-radius: 4px;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 8px;
}

.project-icon-text {
    position: absolute;
    font-size: 16px;
    left: 28%;
    color: var(--social-color);
}


.soft-hobby {
    list-style: none;
}

.soft-hobby-a {
    color: var(--bgcolor);
    border-radius: 2px;
    padding: 3px 5px;
    background: var(--social-color);
    position: relative;
}

.soft-hobby-a:hover {
    background-color: #54B689;
}

.soft-hobby-a:hover .project-icon-text {
    color: #54B689;
}

.progress {
    height: 8px;
    border-radius: 25px;
    margin: 3px 0 13px;
    border: 1.5px solid var(--bg-progress);
}

.fillbar {
    position: absolute;
    height: 5px;
    background: var(--bg-progress-percent);
    top: 50%;
    transform: translateY(-50%);
    border-radius: inherit;
}

.percent-sign {
    color: var(--percentage-color);
    font-size: 9px;
    font-weight: 600;
    font-family: emoji;
}

.languages-heading {
    margin: 20px 0 10px;
}

.skill-head-box {
    margin: 10px 0;
}

.skill-name {
    font-size: 13px;
    display: flex;
    padding-left: 2px;
    justify-content: space-between;
    align-items: center;
    color: var(--skill-color);
}

.skill-p {
    font-size: 11px;
    color: var(--skill-p-color);
}

.contact {
    margin: 10px 0;
}

.my-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-box {
    text-align: center;
    width: 100%;
    height: 18vw;
    max-height: 10rem;
    border-radius: 5px;
    overflow: hidden;
}

.page-right {
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    padding: 20px 24px;
    background: var(--bgcolor);
}

.objective-heading {
    margin-bottom: 8px;
}

.objective-text {
    color: var(--text-color);
    padding-left: 10px;
}

.link-icon {
    font-size: 18px;
    left: 6px;
    color: var(--link-color);
}

.link-icon:hover {
    color: royalblue;
}

.link-icon:active {
    color: red;
}

.project-link-icon {
    position: absolute;
}

.project-link {
    position: relative;
}

.main-heading {
    margin-bottom: 8px;
    margin-right: 20px;
    font-size: 26px;
    font-weight: 600;
    color: var(--main-text-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    align-items: center;
}

.role {
    color: cadetblue;
    font-size: 18px;
}

.academic-table {
    width: 100%;
}

.academic-head {
    margin-bottom: 16px;
}

.academic-table,
.academic-table td,
.academic-table th,
.academic-table table {
    border: 1px solid var(--table-border-color);
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

.academic td {
    color: var(--text-color);
}

.academic-table th {
    background: var(--bgleft-color);
    color: var(--color);
}

.training-heading {
    margin-bottom: 8px;
}


.training-item {
    margin-bottom: 4px;
}

.list-body {
    margin: 10px 20px;
}

.list-body li {
    margin: 6px 0;
    color: var(--text-color);
}

.list-body li::marker {
    font-size: 20px;
}

.detail-name {
    list-style: none;
    font-style: italic;
    text-align: right;
}

.project-table-title {
    color: var(--table-title-color);
    width: 8rem;
    padding: 0px 4px 3px 0;
}

.discription {
    padding-top: 4px;

}

.project1 {
    margin: 10px 0 10px 16px;
}

.project-head {
    color: var(--sub-heading-color);
    margin-bottom: 6px;
}

.semicolan-project {
    font-size: 20px;
    color: var(--table-title-color);
    float: right;
}

.semicolan-project-discript {
    font-size: 20px;
}

.project-detail {
    font-weight: 600;
    color: dimgrey;
}

.heading {
    background: var(--list-heading-bg);
    color: var(--list-heading-color);
    padding: 5px 16px;
    border-radius: 4px;
    font-size: 17px;
}

.small-screen {
    position: absolute;
    opacity: 0;
    left: 99999;
}

@media (min-width:100px) and (max-width:600px) {
    .wrapper {
        flex-direction: column;
        max-width: 100vw;
    }

    .page-left {
        border-radius: 10px 10px 0 0;
        width: unset;
        background-color: var(--bgcolor);
    }

    .my-image {

        display: none;
    }

    .page-right {
        border-radius: 0 0 10px 10px;

    }

    .academic-table,
    .academic-table td,
    .academic-table th,
    .academic-table table {
        padding: 6px;
        font-size: 12px;
    }

    .big-screen {
        position: absolute;
        opacity: 0;
    }

    .small-screen {
        position: unset;
        opacity: 1;
    }
}